
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Midnight Detailing - Auto Detailing Service Mobile</title>
	<meta name="description" content="Toronto Mobile Detailing and Car Cleaning">
	<meta name="keywords" content="Toronto Mobile Detailing, Auto Detailing Oakville, Auto Detailing">
	<link rel="shortcut icon" href="../assets/img/favicon.ico">
	<link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/img/apple-touch-icon-114x114.jpg">
	<!-- <link rel="stylesheet" type="text/css" href="../assets/css/custom-animations.css" /> -->
	<link rel="stylesheet" type="text/css" href="../assets/css/lib/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<script src="../assets/js/respond.min.js"></script>
	<![endif]-->




<!-- Hot Jar Snippit-->
<!-- Hotjar Tracking Code for http://getadvisorstream.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:233462,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- -->

</head>

<body id="landing-page" class="landing-page">
	<!-- Preloader -->
	<div class="preloader-mask">
		<div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div>
	</div>
	<!-- Header -->
	<header>

<style>

@media (max-width: 768px)  {
    
    .brand-logo {
    	margin-top: 12px;
    }
}  

.btn.btn-outline{ 
	background-color: #c0392b;
}

.btn-outline-color.btn-sm{
	background-color: #c0392b;
	color: white;
	border: none;
}

.btn.btn-outline-color{
	background-color: #c0392b;
	color: white;
}
</style>


		<nav class="navigation navigation-header">
			<div class="container">
				<div class="navigation-brand">
					<div class="brand-logo">
						<a href="index-clickthrough.html" class="logo"></a><a href="index-clickthrough.html" class="logo logo-alt"></a>
					</div>
				</div>
				<button class="navigation-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navigation-navbar collapsed">
					<ul class="navigation-bar navigation-bar-left">
					
					<!-- 	
						<li><a href="#services">Services</a></li> -->
						
					</ul>
					<ul class="navigation-bar navigation-bar-right">
						<li>47,872 Cars Detailed So Far...  </li>
						<li class="featured"><a href="./go" class="btn btn-sm btn-outline-color" id="demo">View Pricing  </a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div id="hero" class="static-header window-height light-text hero-section clickthrough-version clearfix">
		<div class="overlay"></div>
		<div class="heading-block align-center centered-block">
			<div class="container">
				<div class="animated" data-animation="fadeIn" data-duartion="500">
					<h2>We come to you and professionally clean your car. </h2>
					<h5 >Save Valuable Time and Make Your Car Look Incredible.   </h5>
				</div>
				<div class="animated" data-animation="fadeInUp" data-duartion="500" data-delay="200">
					<a href="./go" class="btn btn-outline" id="demo">View Pricing </a>
				</div>
			</div>
		</div>
	</div>

	<div id="publishers" class="clients-section align-center">
		<div class="container">
			<ul class="list-inline logos">
				<h5>As seen in... </h5>
				<li><img class="animated" data-animation="fadeInDown" data-duration="500" src="../assets/img/logos/citytv.png" alt="Bloomberg" style="width: 155px; height: 35px; margin-bottom: 10px;"/></li>
				<li><img class="animated" data-animation="fadeInUp" data-duration="500" data-delay="200" src="../assets/img/logos/torontostar.png" alt="Business-Insider" style="width: 200px; height: 25px; margin-bottom:15px;"/></li>
				<!-- <li><img class="animated" data-animation="fadeInUp" data-duration="500" data-delay="600" src="../assets/img/logos/Forbes_logo.svg.png" alt="Forbes"
                         style="width: 90px; height: 38px; padding-bottom: 10px;"/></li>
				<li><img class="animated" data-animation="fadeInDown" data-duration="500" data-delay="800" src="../assets/img/logos/Investopedia_logo.png" alt="Investopedia" style="width: 140px; height: 30px; margin-bottom: 8px;"/></li>
				<li><img class="animated" data-animation="fadeInDown" data-duration="500" data-delay="800" src="../assets/img/logos/Reuters_logo.png" alt="Reuters" style="width: 125px; height: 35px; margin-bottom: 10px;"/></li> -->
			</ul>
		</div>
	</div>


	<section class="section process-section align-center dark-text" id="services">
			<div class="container">
				<div class="section-content row">
					<div class="col-sm-6 pull-right animated editContent" data-duration="500" data-animation="fadeInRight">
						<img src="../assets/img/services/interior.jpg" class="img-responsive" alt="process 2" />
					</div>
					<div class="col-sm-6 align-left animated" data-duration="500" data-animation="fadeInLeft">
						
						<article>
							<h3 class="editContent">INTERIOR <span class="highlight">DETAILING</span></h3>
							<p class="sub-title editContent">We clean, shampoo and deodourize every nook and crannie inside your vehicle to make the car look and smell brand new.   </p>
							 <p class="editContent highlight">"The car looked awesome and it was much easier than taking it in to the dealership. I couldn't believe how clean the cup holders were!" </p>
							 <p class="sub-title"><em>-Lisa Roccafort, Director - Active Kids, Toyota Sienna </em> <img src="../assets/img/testimonial-headshots/john.png" style="margin-left: 35px; height: 70px; width:70px;" class="img-responsive pull-left" alt="John S."/></p></p>
							 


		


					
					</div>
				</div>
			</div>
		</section>
<!-- 
		<section class="section process-section align-center dark-text">
			<div class="container">
				<div class="section-content row">
					<div class="col-sm-6 animated editContent" data-duration="500" data-animation="fadeInLeft">
						<img src="../assets/img/services/exterior.jpg" class="img-responsive" alt="process 3" />
					</div>
					<div class="col-sm-6 align-right animated editContent" data-duration="500" data-animation="fadeInRight">
					
						<article>
							<h3 class="editContent">EXTERIOR <span class="highlight">DETAILING</span> </h3>
							<p class="sub-title editContent">We wash, wax and polish the vehicle fully to make you paint shine vibrantly.     </p>
							 <p class="editContent highlight">"We've been using Midnight for our fleets for two years now. Matt is on top of it and the team is consistent." </p>
							 <p class="sub-title"><em>-Mike Aegor, Owner of Yardworks GTA </em> <img src="../assets/img/testimonial-headshots/Joel.png" style="margin-left: 35px; height: 70px; width:70px;" class="img-responsive pull-right" alt="John S."/></p></p>

						</article>
							
							
							
					
					
					</div>
				</div>
			</div>
		</section> -->

	

<section class="section product-section align-center dark-text animated" data-animation="fadeInUp" data-duration="500">
			<div class="container">
			<div class="my-clock" style="position: float; top: 0px; left: 20px;"></div>
				<div class="section-header">
					<h2 class="editContent">All Services Completed <span class="highlight">On-Site</span></h2>
					
					
<div class="message"></div>
				</div>


				<div class="section-content row">

					<div class="col-sm-4 col-sm-offset-4">
						<div class="package-column ">
							<div class="package-title editContent">Interior Clean</div>
							<!-- <div class="package-price">
								
								<div class="price editContent" style="color: #c0392b; font-size: 45px;"><strike>$98</strike></div>
								<div class="price "><span class="currency">$</span>59</div>
								<div class="period editContent" style="color: #c0392b;">Save 40% </div>
								
							</div> -->
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>1.5</strong> Hours</li>
									
									<li class="editContent"><strong>Clean</strong> Cupholders, Doors and Dash </li>	
									<li class="editContent"><strong>Thorough Vacuum</strong>  (+trunk)</li>
									<li class="editContent"><strong>Deep Clean </strong>Seats</li>
									<li class="editContent"><strong>Eliminate</strong> Odors</li>
									<li class="editContent"><strong>Clean</strong> Windows and Mirrors</li>
								</ul>
								<a href="./go" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div>

					<!-- <div class="col-sm-4">
						<div class="package-column" >
							<div class="package-title editContent">Exterior Wash & Wax</div>
							<div class="package-price">
								<div class="price editContent" style="color: #c0392b; font-size: 45px;"><strike>$82</strike></div>
								<div class="price "><span class="currency">$</span>49</div>
								<div class="period editContent" style="color: #c0392b;">Save 40% </div>

							</div>
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>1.5</strong> Hours</li>
									<li class="editContent"><strong>Hand Foam</strong> Wash </li>
									
									<li class="editContent"><strong>Spray Wax</strong> (Carnuba)</li>
									<li class="editContent"><strong>Clean </strong>Wheels, Wheel wells, Tires </li>
									<li class="editContent"><strong>Dress </strong> Tires </li>
									<li class="editContent"><strong>Clean</strong> Windows and Mirrors</li>
								</ul>
								<a href="./go" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div> -->
<!-- 
					<div class="col-sm-4">
						<div class="package-column">
							<div class="package-title editContent">Extras</div>
							<div class="package-price">
								<div class="period editContent">Starting at</div>
								<div class="price editContent"><span class="currency">$</span>49</div>
								
							</div>
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>Carpet</strong> Shampoo</li>
									<li class="editContent"><strong>Paste </strong>Wax </li>
									<li class="editContent"><strong>Leather </strong>Conditioning </li>
									<li class="editContent"><strong>Clay </strong>Bar </li>
									<li class="editContent"><strong>Scratch </strong>Removal </li>
									<li class="editContent"><strong>High-Speed </strong>Polishing </li>
								
								</ul>
								<a href="./go" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div>
				</div> -->
				
			</div>
		</section>

		<!-- <section id="testimonials" class="section process-section align-center dark-text">

		<div class="container">
			<div class="section-content row">
				<div class="row container">
					<div class="col-sm-4 pull-right animated testimonial-box" data-duration="500" data-animation="fadeInRight">
						
						<img src="../assets/img/testimonial-headshots/john.png" style="margin-left: 35px;" class="img-responsive pull-right" alt="John S."/>
					</div>
					<div class="col-sm-8 align-left animated" data-duration="500" data-animation="fadeInLeft">
						<article>
							
							<h5><br></h5>
							<h6>  <span class="highlight-testimonial"><strong>"The car looked awesome and it was much easier than taking it in to the dealership. I couldn't believe how clean the cup holders were!"</strong></span></h6>
							<p class="sub-title"><em>-Lisa Roccafort, Director - Active Kids, Toyota Sienna </em></p>
							<br>
							<a href="./go" class="btn btn-outline-color">View Pricing </a>
						</article>
					</div>
				</div> -->

<!-- 				<hr class="clearfix" />

				<div class="row container">
					<div class="col-sm-4 animated testimonial-box" data-duration="500" data-animation="fadeInLeft" >
						<img src="../assets/img/testimonial-headshots/Mary.png" class="img-responsive" style="margin-left: 35px;" alt="Mary S."/>
					</div>
					<div class="col-sm-8 align-left animated" data-duration="500" data-animation="fadeInRight">
						<article>
					
							
								 <span class="highlight-testimonial"><strong>"Tyler showed up about 5 minutes late but was friendly and worked a little extra to make sure the job was done right. A few of my neighbours stopped by to ask for cards. I am using this service again."</strong></span>
							</h6>
							<p class="sub-title"><em>-Michael Harris, VP Metalworks, Vaughan, BMW X6M </em></p>
							<br>
							<a href="./go" class="btn btn-outline-color">View Pricing </a>
						</article>
					</div>
				</div> -->
<!-- 
				<hr class="clearfix" />

				<div class="row container">
					<div class="col-sm-4 pull-right animated testimonial-box" data-duration="500" data-animation="fadeInRight">
						<img src="../assets/img/testimonial-headshots/Mike.png" style="margin-left: 35px;" class="img-responsive pull-right" alt="Mike G." />
					</div>
					<div class="col-sm-8 align-left animated" data-duration="500" data-animation="fadeInLeft">
						<article>
						
								<span class="highlight-testimonial"><strong>"I'm a tough guy to please when it comes to cleaning my cars. Ryan used extra caution when working which I loved. I also liked how he came to the house since it saved me the trip to dealership. Thanks.  " </strong></span>  </h6>
							<p class="sub-title"><em>-Dr. Kyle Greer, Forest Hill, Toronto, Mercedes E350</em></p>
							<br>
							<a href="./go" class="btn btn-outline-color">View Pricing </a>
						</article>
					</div>
				</div> -->

				<!-- <hr class="clearfix" />

				<div class="row container">
					<div class="col-sm-4 animated testimonial-box" data-duration="500" data-animation="fadeInLeft">
						<img src="../assets/img/testimonial-headshots/Joel.png" style="margin-left: 35px;" class="img-responsive" alt="Joel A."/>
					</div>
					<div class="col-sm-8 align-left animated" data-duration="500" data-animation="fadeInRight">
						<article>
							
							<h6>
								     <span class="highlight-testimonial"><strong>"We've been using Midnight for our fleets for two years now. Matt is on top of it and the team is consistent. "</strong></span>
							</h6>
							<p class="sub-title"><em>-Mike Aegor, Owner of Yardworks GTA</em></p>
							<br>
							<a href="./go" class="btn btn-outline-color">View Pricing </a>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section> -->



	<!-- 	<section class="section features-list-section align-center dark-text">
			<div class="container">
				<div class="section-header">
					<h2> The Trusted <span class="highlight">Experts</span> </h2>
				</div>
				<div class="clearfix animated" data-duration="500" data-animation="fadeInRight">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<i class="icon icon-education-science-06 highlight"></i>
							<span class="heading editContent">Trained and Certified</span>
							
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<i class="icon icon-faces-users-01 highlight"></i>
							<span class="heading editContent">Bonded</span>
							
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<i class="icon icon-badges-votes-01 highlight"></i>
							<span class="heading editContent">Insured</span>
						
						</article>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<article class="align-center">
							<i class="icon icon-badges-votes-16 highlight"></i>
							<span class="heading editContent">Rated</span>
							
						</article>
					</div>
				</div>
		
				
			</div>
		</section> -->


	
<!-- 
	<section class="section product-section align-center dark-text animated" data-animation="fadeInUp" data-duration="500">
			<div class="container">
				<div class="section-header">
					<h2 class="editContent">Service <span class="highlight">Packages</span></h2>
					<p class="sub-header editContent">Workmanship Guarentee</p>
				</div>

				<div class="section-content row">

					<div class="col-sm-4">
						<div class="package-column ">
							<div class="package-title editContent">Interior Treatment</div>
							<div class="package-price">
								<div class="price editContent"><span class="currency">$</span>149</div>
								<div class="period editContent">Depends on size</div>
							</div>
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>2</strong> Hours</li>
									<li class="editContent"><strong>Steam and Shampoo</strong> Carpets</li>
									<li class="editContent"><strong>Clean nooks and crannies</strong> </li>
									<li class="editContent"><strong>Vacuum</strong>  (+trunk)</li>
									<li class="editContent"><strong>Clean and Condition</strong> Leather</li>
									<li class="editContent"><strong>Eliminate</strong> Odors</li>
									<li class="editContent"><strong>Clean</strong> Windows and Mirrors</li>
								</ul>
								<a href="#" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="package-column">
							<div class="package-title editContent">Exterior Treatment</div>
							<div class="package-price">
								<div class="price editContent"><span class="currency">$</span>139</div>
								<div class="period editContent">Depends on size</div>
							</div>
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>1.5</strong> Hours</li>
									<li class="editContent"><strong>Hand Foam</strong> Wash </li>
									<li class="editContent"><strong>Clay Bar</strong> (remove road tar)</li>
									<li class="editContent"><strong>Hand Wax</strong> (Carnuba)</li>
									<li class="editContent"><strong>Clean Wheels, Wheel wells, Tires</strong> </li>
									<li class="editContent"><strong>Dress Tires</strong> </li>
									<li class="editContent"><strong>Clean</strong> Windows and Mirrors</li>
								</ul>
								<a href="#" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="package-column">
							<div class="package-title editContent">The Works</div>
							<div class="package-price">
								<div class="price editContent"><span class="currency">$</span>249</div>
								<div class="period editContent">Depends on size</div>
							</div>
							<div class="package-detail">
								<ul class="list-unstyled">
									<li class="editContent"><strong>3</strong> Hours</li>
									<li class="editContent"><strong>Interior Treatment</strong> </li>
									<li class="editContent"><strong>Exterior Treatment</strong> </li>
								
								</ul>
								<a href="#" class="btn btn-outline-color btn-block editContent">View Pricing </a>
							</div>
						</div>
					</div>
				</div>
				<h2 class="editContent">Service Guarenteed or <span class="highlight">Money Back</span></h2>
			</div>
		</section> -->

	<!-- <section id="Clients" class="section features-list-section align-center dark-text">
		<div class="container" style="align-content: center">
			<div class="section-header">
				<h2 class="client-header">Service<span class="highlight"> Areas</span> </h2>
				<hr>
			</div>
			<div class="clearfix animated" data-duration="500" data-animation="fadeInRight" style="align-content: center;">
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Midtown Toronto</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Downtown Toronto</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Oakville/Burlington</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Vaughan</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">North Toronto/North York</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Mississauga</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Pickering/Ajax</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Markham</p>
					</article>
				</div>
			</div>
			<div class="clearfix animated" data-duration="500" data-animation="fadeInLeft">
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Stouffville</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Aurora</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Ottawa</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Calgary</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">North Vancouver</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">West Vancouver</p>

					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Whistler</p>
					</article>
				</div>
				<div class="col-md-2 col-xs-6 client-img">
					<article class="align-center">
						<p style="margin-top: 10px;">Canmore</p>
					</article>
				</div>
			</div>
		</div>
	</section> -->



	<!-- <section id="guarantee" class="long-block light-text guarantee-section">
		<div class="container">
			<div class="row">
			<div class="col-md-9 col-lg-9">
				<article class="pull-left">
					<h3> Do we service your area? <br>Find out now. </h3>
					<p class="thin"></p>
				</article>
			</div>

            <div class="col-md-3 col-lg-3">
				<a href="./go" class="btn btn-outline" style="margin-top: 7px; white-space: normal;" id="demo">Let's go! </a>
            </div>
        </div>
		</div>
	</section> -->


    	

	<footer id="footer" class="footer light-text" style="background-image: none; color: #b29159">
		<div class="container">
			<div class="footer-content row " style="height: 150px; background-image: none;">
				<div class="col-sm-4 col-xs-12">
					<div class="logo-wrapper">
						<img  src="../assets/img/logos/logo-hm-without-text.png" alt="logo" />
					</div>
				
				</div>
				<div class="col-sm-5 social-wrap col-xs-12">
				</div>
				<div class="col-sm-3 col-xs-12">
					
					<ul class="list-unstyled">
						<li><span class="icon icon-seo-icons-34"></span>1 Yonge St. <br>Toronto</li>
                        
						
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright" style="color: #b29159;">Midnight Detailing INC. All rights reserved.</div>
	</footer>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<script type="text/javascript" src="../assets/js/jquery-2.1.4.min.js?ver=1"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../assets/js/jquery.plugin.js"></script>


	<script type="text/javascript" src="../assets/js/jquery.validate.min.js"></script>

	<script type="text/javascript" src="../assets/js/startuply.js"></script>
</body>

