<head>
	<title>Home</title>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<meta name="description" content="Startups template">
	<meta name="keywords" content="Startups template">

	<link rel="shortcut icon" href="assets/img/favicon.ico">

	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">

	<link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

		<link rel="stylesheet" type="text/css" href="assets/css/flipclock.css">

		
<!-- 
	<link rel="stylesheet" type="text/css" href="assets/css/builder-fix.css" /> -->

</head>

<style>
.btn.btn-outline{ 
	background-color: #c0392b;
}

.btn-outline-color.btn-sm{
	background-color: #c0392b;
	color: white;
	border: none;
}

.btn.btn-outline-color{
	background-color: #c0392b;
	color: white;
}
</style>

<body id="landing-page" class="landing-page">
	<div id="page" class="page">
<div class="bg bg1 window-height align-center dark-text clearfix">
			<div class="container centered-block">
		

				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-3 col-xs-12">
					<h3 class="editContent"><span class="highlight"></span> We will reach out to you within the day to give you a quote for your vehicle size and package request.  </h3>
					
					 <br> <%= link_to "Submit another quote request" , :back%> 
					</div> 

				</div>
				

					
				
	

	</div><!-- /#page -->

	<!--[if lt IE 9]> <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script> <![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!--> <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script> <!--<![endif]-->


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script src="assets/js/flipclock.min.js"></script>

	<script type="text/javascript" src="assets/js/startuply.js"></script>
	<script type="text/javascript" src="assets/js/builder-fix.js"></script>



</body>